<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies App</title>
  </head>
  <body>
    <a href="/movies/new">Add a new Movie!</a>
    <h1>Welcome to the Movies app!</h1>
    <h2>All movies</h2>
    <ul>
      <% movies.forEach((movie) => { %>
          <li>
            <a href="/movies/<%= movie._id %>"></a>
            <%= movie.name %>
          </li>
      <% }); %>
    </ul>
  </body>
</html>
