<body>
    <h1>Create a New Movie entry!</h1>
    <form action="/movies" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />

        <label for="snooze">Good Movie:</label>
        <input type="checkbox" name="snooze" id="snooze" />

        <label for="releaseYear">Release Year</label>
        <input type="text" name="releaseYear" id="releaseYear" />

        <button type="submit">Add Movie</button>
        <br>
        <a href="/movies/"> Check out the catalog</a>
    </form>
</body>